body{
    background-color: rgb(248, 245, 245);
    padding: 2px;
    margin: 0.5px;
    border: 2px solid black;
    border-radius: 1px;
    display: block;
    align-items: center;
    justify-content: center;
}

p{
    background-color: aquamarine;
}

a{
    background-color: rgb(242, 160, 122);
}

div{
    background-color: yellow;
}

span{
    background-color: rgb(198, 165, 230);
}

label{
    background-color: darkgoldenrod;
}

.form{
    background-color: antiquewhite;
}